<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <span class="navbar-brand comforter">MARIO EZQUERRO</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bolder" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bolder" href="#portfolio">Inventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bolder" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>