<body id="page-top">
    <div class="nav-auto-display">
        <app-nav-component></app-nav-component>
    </div>
   
   
    <p>Nombre: {{ invento?.nombre }}</p>
    <p>Descripcion: {{ invento?.desc }}</p>
    <!-- <img class="img-fluid" [src]="invento?.img" alt="..." /> -->
    

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class=" portfolio-item">
                <img class="img-fluid" src="/assets/inventos/disco-faraday.jpeg" />
            
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Inducción</div>
                <div class="portfolio-caption-subheading text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit</div>
            </div>
        </div>
    </div>

</body>