<body id="page-top">
  <div class="nav-auto-display">
    <app-nav-component></app-nav-component>
  </div>

  <div class="container text-center mt-5">
    <form [formGroup]="nuevaPuja" (ngSubmit)="submit()">
      <div class="row">
        <h2 class="section-heading text-uppercase mb-4">
          {{ invento?.nombre }}
        </h2>
        <div class="col-12 col-md-8">
          <img class="img-max img-fluid rounded" [src]="invento?.img" />
        </div>

        <div class="col-12 col-md-4">
          <h4 class="section-subheading text-muted mt-5">Descripción</h4>
          <p class="portfolio-caption-subheading text-muted">
            {{ invento?.longDesc }}
          </p>

          <hr class="mt-5 mb-5" />

          <h4 class="section-subheading text-muted">MAYOR PUJA:</h4>
          <input
            class="form-control form-control-lg text-center"
            value="{{maxPuja}} €"
            type="text"
            readonly
          />

          <label for="puja" class="text-muted">Realiza tu puja aqui</label>
          <input
            type="number"
            class="form-control"
            id="puja"
            formControlName="cantidad"
            placeholder="€"
          />

          <small id="emailHelp" class="form-text text-muted">
            El ganador sera anunciado trás finalizar el evento.
          </small>
          <button class="btn btn-primary mt-3">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</body>
